.product-item-info {
  display: flex;
  flex-direction: column;
}

.product-item img {
  width: 100%;
  height: 220px;
}

.product-item-info {
  height: 170px;
  background-color: #f8f8f8;
  padding: 8px 16px 12px;
}

.product-item-info h3 {
  font-weight: 500;
}

.product-item-info span {
  font-weight: 500;
  color: #1976d2;
}

.product-item-info p {
  font-size: 14px;
}

.product-item-info .product-action {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  column-gap: 12px;
  flex: 1;
}